body {
    height: 100%;
    width: 100%;
}

.bg-teleton {
    color: white!important;
    background: rgb(51, 16, 72)!important;
}

.no-margin {
    margin-left: 0;
    margin-right: 0;
}

.heart {
    width: 100%;
    height: 100%;
    stroke:  rgb(51, 16, 72);
    stroke-width: 1px;
    fill: transparent;
    animation: all 0.3s ease;
}

.transicion {
    fill: red;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

img{ max-width:100%;}

.gallery_box li{ width:33.333333%; max-width: 100% ; display:inline-block; float: left; text-align: center; overflow: hidden;    position: relative;}
.gallery_box{ padding:0;display: flow-root;}

.gallery_box li:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.gallery_box li img{-webkit-transition: transform 0.5s ease;
                    -o-transition: transform 0.5s ease;
                    transition: transform 0.5s ease;}
.gallery_box .box_data{ position:absolute; top: 0; left: 0; right:0; bottom:0; color:#fff;}
.gallery_box .box_data span{ position:absolute; top: 50%; transform: translateY(-50%); left:0 ; right:0; font-size:24px;}
.gallery_box li:hover .box_data{ background:rgba(51, 16, 72,0.55)}

.title-h3 {
    padding: 10px;
    margin-top: 10px;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.modal.left .modal-dialog {
    position: fixed;
    margin: auto;
    width: 320px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.left .modal-body {
    padding: 15px 15px 80px;
}

.modal.left.fade .modal-dialog {
    left: -320px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.show .modal-dialog {
    left: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
    border-radius: 0;
    border: none;
}

.modal-header {
    border-bottom-color: #eeeeee;
    background-color: #fafafa;
}

.animacion-corazon {
  width: 255px;
  height: 212px;
  margin: 2% auto;
  background: url('../images/teleton.png') left center;
  animation: play 4s steps(5) infinite;
}

@keyframes play {
	100% { background-position: -1275px; }
}
